RewriteEngine On
RewriteBase /

# 1. Ha beírják: 'kezdolap', és létezik 'dashboard.php', akkor azt szolgálja ki
RewriteRule ^kezdolap$ dashboard.php [L,QSA]
RewriteRule ^premium$ premium.php [L,QSA]
RewriteRule ^admin-panel$ admin.php [L,QSA]
RewriteRule ^BMI$ bmi.php [L,QSA]
RewriteRule ^premium-lemondas$ cancel_premium.php [L,QSA]
RewriteRule ^fizetes$ checkout.php [L,QSA]
RewriteRule ^segitseg-GYIK$ help.php [L,QSA]
RewriteRule ^bejelentkezes$ login.php [L,QSA]
RewriteRule ^kijelentkezes$ logout.php [L,QSA]
RewriteRule ^receptjeim$ my_recipes.php [L,QSA]
RewriteRule ^fiokom$ profile.php [L,QSA]
RewriteRule ^support$ support.php [L,QSA]
RewriteRule ^regisztracio$ register.php [L,QSA]
RewriteRule ^rolunk$ about.php [L,QSA]
RewriteRule ^etkezeseim$ log.php [L,QSA]

# 2. Általános szabály a kiterjesztés nélküli eléréshez (pl. login -> login.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]
